# Dependencies
node_modules/
pnpm-lock.yaml

# Build output
dist/
*.tsbuildinfo

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Environment
.env
.env.local
.env.*.local

# Editor / OS
.DS_Store
.idea/
*.swp

# runtime
runtime/
.libtv/
_tmp/
.pnpm-store/

*.mp4
